*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
}

.sidebar{
    
    width: 300px;
    height: 500px;
}


.cardBody{
    height: 220px;
    background-color: rgb(45, 45, 59);
    color:antiquewhite;
    margin: 10px;
}

.card{
    width: 600px;
}
